<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>육멍일지</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <div class="tit">
    <h4>
      <span id="detailRegdate"><%# conditionData[0].regdate %></span>
      <a href="/edit/2024/7/2"><i class="fa-solid fa-pen-to-square" title="edit"></i></a>
    </h4>
    <i class="fa-solid fa-circle-xmark" title="close"></i>
  </div>
  <ul>
    <li class="on">상태</li>
    <li>일과</li>
    <li>건강</li>
  </ul>
  <div class="view" id="detailIcon">
    <span>아이콘1</span>
    <span>아이콘2</span>
    <span>아이콘3</span>
    <span>아이콘4</span>
  </div>

</body>
</html>